* {
    font-family: "Poppins"; src: url('../font/Poppins-Regular.ttf');
}

body {
    background-color: #F8F9FB;
}

.recherche {
    width: 50%;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 40px;
    height: 35px;
}

table {
    display: flex;
    border-collapse: separate;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    box-shadow: -2px 2px 2px #e2e2e2;
}

td {
    padding: 15px 6rem;
}

