* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;    
}
@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Regular.ttf");
}
* {
    font-family: Poppins;
}
img {
    opacity: 0.12;
    position: absolute;
    width: 80%;
    margin-top: 15rem;
    }

main {
    border: solid green 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.titre-inscription {
    border: solid blue 1px;
    margin: 5rem 0rem;
    padding-left: 5rem;
}

.coordonnees {
    border: solid maroon 1px;
    display: flex;
    justify-content: center;
}
.coordonnee1 {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.coordonnee2 {
    border: solid violet 1px;
    display: flex;
    flex-direction: column;
    width: 45%
}