* {
    font-family: "Poppins"; src: url('../font/Poppins-Regular.ttf');
}

body {
    background-color: #F8F9FB;
}

h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid #e4e4e4;
}

legend {
    font-weight: 600;
}

main {
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    padding: 5px;
    box-shadow: -2px 2px 2px #e2e2e2;
    width: 80%;
    height: 350px;
    margin-top: 50px;
}

p {
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    
}
.case {
    padding: 5px 1.5rem;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    background-color: #F3F3F3;
    margin: 20px 20px;
    
}

input[type="submit"] {
    float: right;
    cursor: pointer;
    border: none;
    width: 70px;
    border-radius: 10px;
    background: linear-gradient(#547C7C, #195A5B);
    padding: 5px 10px;
    color: white;
}

input[type="submit"]:active {
    background: linear-gradient(#77aeae, #299193);
}

.paiementretard {
    margin-left: 20px;
    margin-bottom: 20px;
}

h2 {
    padding: 5px 10px;
    font-size: 1rem;
    color: white;
    font-weight: 400;
    background: linear-gradient(#547C7C, #195A5B);
    border-radius: 5px;
}

.retard {
    margin-top: 10px;
    width: 100%;
    }